*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: white;
    width: 100%;
    height: 90px;
    line-height: 90px;
    position: relative;
}

body{
    background-color: rgb(246, 248, 249);
}

.header__logo{
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.header__logo-text{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30pt;
}

.container{
    background-color: white;
    margin: 30px auto;
    width: 80%;
    border-radius: 5px;
}

.container__top{
    width: 100%;
    border-bottom: lightgray 1px solid;
    padding: 20px 40px 15px 40px;
}

button{
    padding: 7px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    border: 0;
}

.add-task{
    background-color: #61aceb;
    color: white;
    border: 1px solid #61aceb;
}

.add-section{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgrey;
}
