*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: white;
    width: 100%;
    height: 90px;
    line-height: 90px;
    position: relative;
}

body{
    background-color: rgb(246, 248, 249);
}

.header__logo{
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.header__logo-text{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30pt;
}